.App {
  text-align: auto;
}

.background {
  background-image: url("1.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  width: 100%;
}

.card{
  border-radius: 0.5rem
}

.card-header {
  background-color: #ffffff !important;
  border-bottom: 0px
}

.w3-container {
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (max-height: 700px) and (min-height: 400px)
{
  .p2{
    overflow: hidden;
    width: 100%;
  }
}
